main {
  display: flex;
  height: 35vw;
  padding: 0 11vw;
  align-items: center;
  @include tablet-size {
    height: 80vw;
    flex-direction: column-reverse;
  }
  @include phone-size {
    height: 155vw;
  }
}

button {
  margin: 1rem 0;
  padding: 13px 15px;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  text-align: center;
  line-height: 1.5rem;
}

.cont {
  margin-top: 17rem;
}

.titles {
  margin-top: 1rem;
}

.messages {
  display: flex;
  gap: 3vw;
}

.full-stack {
  border-right: 0.15em solid $forth-color;
  border-color: transparent;
  margin-bottom: 1.5rem;
  @include phone-size {
    font-size: 130%;
  }
}
