main {
  display: flex;
  height: 35vw;
  padding: 0 11vw;
  align-items: center;
  @include tablet-size {
    height: 80vw;
    flex-direction: column-reverse;
  }
  @include phone-size {
    height: 155vw;
  }
}

.messages {
  display: flex;
  gap: 3vw;
  &>p {
    width: 50%;
  }
}

.full-stack {
  border-right: 0.15em solid $forth-color;
  margin: 0 auto;
  border-color: transparent;
  @include phone-size {
    font-size: 130%;
  }
}
